# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build
dist
build
.next/
out/

# node_modules
node_modules/

# Arquivos de ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Arquivos do S.O.
.DS_Store
Thumbs.db